body{
    font-family: Verdana;
    text-align: center;
    font-size: 2em;
}

h1{
    color: rgb(59, 89, 154);
}

button{
    background-color: rgb(224, 71, 71);
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

button:hover{
    background-color: rgb(244, 107, 107);
}
